<h1>Update Pet</h1>

<form method='POST' action='/pets/<%=@pet.id%>/edit'>
  <input id="hidden" type="hidden" name="_method" value="patch">
Pet Name: <input type="text" name="pet[name]">
Currently Belongs to Owner Number <%=@owner.id%>


Who does this pet belong to?
  <%Owner.all.each do |owner|%>
<input type="checkbox" name="owner_id" id="<%= owner.id%>" value="<%=owner.id%>"><%='checked' if @owner.pets.include?(pet) %>><%=pet.name%></input>
<label for="<%= owner.id%>"><%=owner.name%> </label>
<%end%>


<%='checked' if @owner.pets.include?(pet) %>><%=pet.name%></input>



or Add New Owner:


Owner Name:<input type="text" name="owner_name">
<input type="submit" value="submit">
</form>
